AIRFLOW_UID=1000

AWS_ACCESS_KEY_ID="your key"
AWS_SECRET_ACCESS_KEY="your key"
AWS_DEFAULT_REGION=ap-southeast-1

TARGET_S3_BUCKET=e-commerce-clickstream-data-lake
S3_ATHENA_RESULT=s3://e-commerce-clickstream-athena-result/prefix/
S3_BUCKET_FINAL_RESULT=s3://e-commerce-clickstream/gold/

DATABASE_NAME=event_raw

FLINK_PARALLELISM=2

#AIRFLOW SMTP Configuration
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_USER=your_email
AIRFLOW__SMTP__SMTP_PASSWORD=your_app_password
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_MAIL_FROM=your_email

#ALERT EMAIL (used by DAG for failure notifications)
ALERT_EMAIL=your_email
